[submodule "api/account"]
	path = api/account
	url = https://github.com/insper-rafaken/account.git
[submodule "api/account-service"]
	path = api/account-service
	url = https://github.com/insper-rafaken/account-service.git
